@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Theme Defaults & Transition */
body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
}

/* Custom Scrollbar */
.wish-scroll::-webkit-scrollbar {
  width: 6px;
}
.wish-scroll::-webkit-scrollbar-track {
  @apply bg-slate-200 dark:bg-slate-800;
}
.wish-scroll::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-600 rounded-full;
}