@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Dark Theme Global Overrides */
body {
  @apply bg-slate-900 text-slate-100;
}

/* Custom Scrollbar for Wish Wall */
.wish-scroll::-webkit-scrollbar {
  width: 6px;
}

.wish-scroll::-webkit-scrollbar-track {
  background: #1e293b;
}

.wish-scroll::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}